[Unit]
Description=Client Service
After=network.target

[Service]
ExecStart=/usr/local/bin/client
Type=exec
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
